body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% của chiều cao màn hình */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s;
}

img:hover {
    opacity: 0.3;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
}

.modal.show {
    display: flex;
}
button{
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}